<section class="bg-white p-5 md:max-w-5xl mx-auto">
  <h1 class="text-3xl text-cyan-700 font-bold">Edit Your Account</h1>
  <%= render "shared/error", object:@user %>
  <!-- prettier-ignore -->
  <%= render "form", user:@user %>
</section>
