<% if game.writers.present? %>
<li class="font-bold text-cyan-700">
  <%= custom_pluralize(game.writers, 'Writer') %>:
</li>
<% game.writers.split('-').each_with_index do |writer, index| %>
<li class="director-before">
  <% if index > 0 %> &bull; <%end %> <%= writer %>
</li>
<%end %> <% end %>
