<section class="bg-white p-5 md:max-w-5xl mx-auto">
  <h1 class="text-3xl text-cyan-700 font-bold">Edit <%= @game.title %></h1>
  <%= render "shared/error", object:@game %>
  <!-- prettier-ignore -->
  <%= render "form", game:@game %>
</section>
