<section>
  <h1><%= @game.title %></h1>

  <div class="border border-gray-600">
    <div class="flex gap-4">
      <div><%= image_tag @game.cover_image, class:"h-full w-full" %></div>
      <div class="genre mt-2">
        <ul class="flex gap-2">
          <li
            class="rounded-3xl capitalize border-2 text-sm border-gray-200 p-2"
          >
            action
          </li>
        </ul>

        <div class="full-description mt-8">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit,
          incidunt vel rem recusandae nesciunt cumque voluptatem, molestiae modi
          illo sed, dolores quidem. Consequatur eius, aliquam qui ipsum fugit
          assumenda pariatur odit, nihil quo ratione architecto voluptatibus
          laborum ducimus! Minus architecto ipsa sunt atque.
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= button_to "add to favorites", "#" %> <%= link_to "Add review" %>
  </div>
  <div class="details">lorem</div>
</section>
