<% if current_user.present? %>
<div class="flex gap-2">

    <%= link_to current_user.name,
    current_user, class:"text-white font-bold capitalize hover:text-cyan-500 text-lg
    w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1 sm:pt-2 rounded-md" %>

    <%= link_to "Log Out",
    session_path, class:"text-white font-bold hover:text-cyan-500 text-lg
    w-full border border-cyan-600 hover:bg-cyan-600 hover:text-white no-underline sm:w-auto sm:px-4 py-2 sm:py-1 sm:pt-2 rounded-md", data:{turbo_method:'delete'} %>
</div>
<% else %>
<div class="flex gap-2">
    
    <%= link_to 'Login', new_session_path, class:"text-white font-bold
    hover:text-cyan-500 text-lg w-full no-underline sm:w-auto sm:px-4 py-2
    sm:py-1 sm:pt-2 border border-cyan-600 hover:bg-cyan-600 hover:text-white rounded-md" %>

    <%= link_to 'Sign Up', new_user_path,
    class:"text-white font-bold hover:text-cyan-500 text-lg w-full
    no-underline sm:w-auto sm:px-4 py-2 sm:py-1 sm:pt-2 border border-cyan-600 hover:bg-cyan-600 hover:text-white rounded-md" %>
</div>
<% end %>